<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<p>[{{ user.dentalclinicuser.get_role_display }}] {{ user.username }}</p>
<p>This is index page for dentist of Dental Clinic X</p>
<a href="{% url 'dental_clinic_x:logout'%}">Logout</a>

{% if dental_records %}
<div>
  <ul>
  {% for dental_record in dental_records %}
  <li><a href="{% url 'dental_clinic_x:view_dental_record' record_id=dental_record.id %}">{{ dental_record.patient.user.get_full_name }} @{{ dental_record.patient.created_time }}</a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

